<%- include header %>
<div class="container">
<p>
  <% if (user && (user.name == post.name)) { %>
    <span><a class="btn btn-primary btn-md" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">Edit</a></span>
    <span><a class="btn btn-primary btn-md" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">Delete</a></span>
  <% } %>
</p>
<p class="info">
  Author：<a href="/u/<%= post.name %>"><%= post.name %></a> |
  Date ：<%= post.time.minute %>
</p>
<p><%- post.post %></p>
<%- include comment %>
</div>
<%- include footer %>
