
<br />
<% post.comments.forEach(function (comment, index) { %>
  <div class="container">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <a href="<%= comment.website %>"><font color=#3366BB><%= comment.name %></font></a>
          <span class="info"> reply at <%= comment.time %></span>
        </div>
        <div class="panel panel-body">
          <%- comment.content %>
        </div>
      </div>
  </div>
<% }) %>

<form method="post" action="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
  <div class="container">
    <div class="form-group">
      <% if (user) { %>
        <div class="form-inline">
          <label>Username:</label>
          <input class="form-control" name="name" type="text" value="<%= user.name %>">

          <label>Email:</label>
          <input class="form-control" name="email" type="text" value="<%= user.email %>">

          <label>Website:</label>
          <input class="form-control" name="website" type="text" value="/u/<%= user.name %>">
        </div>
      <% } else { %>
        <div class="form-inline">
          <label>Username:</label>
          <input class="form-control" name="name" type="text" >

          <label>Email:</label>
          <input class="form-control" name="email" type="text">

          <label>Website:</label>
          <input class="form-control" name="website" type="text">
        </div>
      <% } %>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" cols="80" name="content" placeholder="Comment"></textarea>
      </div>

  <br />
  <input type="submit" class="btn btn-primary btn-md" value="Reply" />
  </div>
</form>
