<%- include header %>
<div class="container">
<form method="post" action="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
  <div class="form-group">
    <label for="title">Title:</label>
    <textarea class="form-control" rows="1" cols="100" name="title" disabled="disabled"><%= post.title %></textarea>
  </div><br />
  <div class="form-group">
    <label for="content">Content:</label>
    <textarea class="form-control" rows="20" cols="100" name="post"><%= post.post %></textarea>
  </div><br />
  <input type="submit" class="btn btn-primary btn-md" value="Update" />
</form>
</div>
<%- include footer %>
