<%- include header %>
<ul class="archive">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <div class="w">
    <% if (lastYear != post.time.year) { %>
      <li><h3><%= post.time.year %></h3></li>
    <% lastYear = post.time.year } %>
      <li><time><%= post.time.day %></time></li>
      <li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><font color=#3366BB><%= post.title %></font></a></li>
  </div>
<% }) %>
</ul>
<%- include footer %>
